//Font
@font-face {
  font-family: 'Poppins';
  src: url(../Assets/fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../Assets/fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url(../Assets/fonts/Oswald-Medium.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'Poppins', Helvetica, sans-serif;
  // Este calculo tira 2px para 1920px, y un valor semejante para otras dimensiones
  //font-size: (100vw / 1920px) * 2px;
  //font-size: 2px;
}

.btn-secondary {
  background-color: #fff;
  border: 2px solid $blue-100;
  color: $blue-100;
}

.btn-primary {
  background-color: $blue-100;
  border: 2px solid $blue-100;
  color: #fff;
}

.btn-primary:hover {
  background-color: $blue-200;
}

.btn-secondary:hover {
  background-color: $blue-300;
  border: 2px solid $blue-100;
}
