// Colors

//Blue
$blue-100: #007bff;
$blue-200: #3898ff;
$blue-300: #85c0ff;
$blue-400: #cce5ff;
$blue-500: #f1f8ff;

//Black
$black-100: #1c1c1c;
$black-200: #585757;
$black-300: #969696;
$black-400: #e4e4e4;
$black-500: #f7f7f7;
$black-form: #545454;
