.logo {
  height: 54.23px;
  width: 37.54px;
  margin: 0 20px;
}

.searchbar-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control > select {
  border-left-color: white;
  border-right-color: white;
  border-radius: 0;
}

.searchbar-button {
  width: 40px;
  border-left: 0;
  border-radius: 0 6px 6px 0;
  background-color: $blue-100;
  color: white;
  border: none;
}
