.overlay-bkg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #3898ff;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-in {
  width: 350px;
  height: 425px;
  border-radius: 6px;
  background-color: white;

  //font-size: 1rem;
  padding: 1%;

  display: flex;
  flex-direction: column;


  div {
    margin-bottom: 7px;
  }

  .title {
    font-size: 24px;
    width: 162px;
    height: 33px;
    text-align: left;
    letter-spacing: -0.4px;
    color: #1C1C1C;
    text-transform: capitalize;
    opacity: 1;
  }

  .label {
    width: 310px;
    height: 22px;
    text-align: left;
    font: Regular 15px/22px Poppins;
    letter-spacing: -0.2px;
    color: #545454;
    opacity: 1;
  }

  .input-1 {
    top: 429px;
    left: 805px;
    width: 310px;
    height: 38px;
    opacity: 1;
  }

  .label-old {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: #cfcfcf;
    border-width: 1px;
    height: 38px;
  }

  .button {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 3%;
  }

  :last-child {
    width: 100%;
    display: flex;

  }
}
