.overlay-bkg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #3898ff;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.log-in {
  width: 350px;
  height: 425px;
  border-radius: 6px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .title {
    font-size: 24px;
    text-align: left;
    letter-spacing: -0.4px;
    color: #1C1C1C;
    text-transform: capitalize;
    opacity: 1;
  }

  .label {
    width: 100%;
    text-align: left;
    font: Regular 15px/22px Poppins;
    letter-spacing: -0.2px;
    color: #545454;
    opacity: 1;
    display: flex;
    justify-content: space-between;
  }

  .button {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 3%;
  }

  .action-call {
    border-top: 1px solid #E4E4E4;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;

  }
}
